version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: motolog_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql 
      - ./db/sql:/docker-entrypoint-initdb.d
    networks:
      - motolog-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
      start_period: 40s

  # Backend
  backend:
    build: ./backend
    container_name: motolog_backend
    restart: unless-stopped
    ports:
      - "${BACKEND_PORT}:3000"
    environment:
      - NODE_ENV=development
      - PORT=3000
      - DB_HOST=db
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_PORT=3306
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - motolog-network

  # Frontend (mantener igual)
  frontend:
    build: ./frontend
    container_name: motolog_frontend
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT}:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:${BACKEND_PORT}
    depends_on:
      - backend
    networks:
      - motolog-network

volumes:
  mysql_data:


networks:
  motolog-network:
    driver: bridge
